/* ---------------------------------------
	Typography
--------------------------------------- */



body {
	font-size: 16px;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	a {
		color: inherit;
	}
}

/*basic heading styles*/

h1,
.h1 {

}
h2,
.h2 {

}
h3,
.h3 {

}
h4,
.h4 {

}
h5,
.h5 {

}
h6,
.h6 {

}

p {
	/*basic paragraph styles*/
}

ul {
	/*basic list styles*/
	font-size: inherit;
	li {
		/*basic list-item styles*/
	}
}

a {
	color: $main_color;
	transition: all 0.2s ease-in-out;
	&:hover, &:focus {
		/*basic hover and focus effects*/
		color: darken($main_color, 20);
	}
}

/* ---------------------------------------
	Forms/Inputs
--------------------------------------- */

/* Input Styling */

[type=color],
[type=date],
[type=datetime-local],
[type=datetime],
[type=email],
[type=month],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=time],
[type=url],
[type=week],
textarea,
select,
.select-styled {
	/* STYLES GO THERE */
	margin-bottom: 0;
}

textarea[rows] {
	/*Styles for TextArea*/
	height: 150px;
	max-width: 100%;
}

[type=number] {
	-moz-appearance: textfield;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
	margin: 0;
	-webkit-appearance: none;
}

[type=checkbox],
[type=file],
[type=radio] {
	margin-bottom: 0;
}


/* Button styles */

.button, button, input[type="submit"] {
	transition: all 0.3s ease-in-out;
	background-color: $main_color;
	color: $white;
	padding: 12px 25px;
	&:hover, &:focus {
		/*basic hover and focus effects*/
		background-color: $sub_color;
		color: $white;
	}
}

